In [56]:
#Read in files 
import pandas as pd
fuel_08 = pd.read_csv('C:/Users/Madhu/Udacity-Projects/FuelEconomy_08.csv')
fuel_18 = pd.read_csv('C:/Users/Madhu/Udacity-Projects/FuelEconomy_18.csv')

In [57]:
#2008 data structure
fuel_08.info()
#Number of duplicates
sum(fuel_08.duplicated())
#Number of rows with missing data 
fuel_08.isnull().any(axis=1).sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2404 entries, 0 to 2403
Data columns (total 18 columns):
Model                   2404 non-null object
Displ                   2404 non-null float64
Cyl                     2205 non-null object
Trans                   2205 non-null object
Drive                   2311 non-null object
Fuel                    2404 non-null object
Sales Area              2404 non-null object
Stnd                    2404 non-null object
Underhood ID            2404 non-null object
Veh Class               2404 non-null object
Air Pollution Score     2404 non-null object
FE Calc Appr            2205 non-null object
City MPG                2205 non-null object
Hwy MPG                 2205 non-null object
Cmb MPG                 2205 non-null object
Unadj Cmb MPG           2205 non-null float64
Greenhouse Gas Score    2205 non-null object
SmartWay                2404 non-null object
dtypes: float64(2), object(16)
memory usage: 338.1+ KB

199

In [58]:
#2018 data structure
fuel_18.info()
#Number of duplicates
sum(fuel_18.duplicated())
#Number of rows with missing data 
fuel_18.isnull().any(axis=1).sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1611 entries, 0 to 1610
Data columns (total 18 columns):
Model                   1611 non-null object
Displ                   1609 non-null float64
Cyl                     1609 non-null float64
Trans                   1611 non-null object
Drive                   1611 non-null object
Fuel                    1611 non-null object
Cert Region             1611 non-null object
Stnd                    1611 non-null object
Stnd Description        1611 non-null object
Underhood ID            1611 non-null object
Veh Class               1611 non-null object
Air Pollution Score     1611 non-null int64
City MPG                1611 non-null object
Hwy MPG                 1611 non-null object
Cmb MPG                 1611 non-null object
Greenhouse Gas Score    1611 non-null int64
SmartWay                1611 non-null object
Comb CO2                1611 non-null object
dtypes: float64(2), int64(2), object(14)
memory usage: 226.6+ KB

2

In [59]:
#Number of unique values 
fuel_08.nunique()

Model                   436
Displ                    47
Cyl                       8
Trans                    14
Drive                     2
Fuel                      5
Sales Area                3
Stnd                     12
Underhood ID            343
Veh Class                 9
Air Pollution Score      13
FE Calc Appr              2
City MPG                 39
Hwy MPG                  43
Cmb MPG                  38
Unadj Cmb MPG           721
Greenhouse Gas Score     20
SmartWay                  2
dtype: int64

In [60]:
#Number of unique values 
fuel_18.nunique()

Model                   367
Displ                    36
Cyl                       7
Trans                    26
Drive                     2
Fuel                      5
Cert Region               2
Stnd                     19
Stnd Description         19
Underhood ID            230
Veh Class                 9
Air Pollution Score       6
City MPG                 58
Hwy MPG                  62
Cmb MPG                  57
Greenhouse Gas Score     10
SmartWay                  3
Comb CO2                299
dtype: int64

In [61]:
fuel_08.groupby(['Fuel']).mean()

                Displ  Unadj Cmb MPG
Fuel
CNG          1.800000      37.519500
Gasoline     3.712425      24.224792
diesel       4.527273      26.837043
ethanol      3.300000      17.128300
ethanol/gas  4.865278      13.339405

In [62]:
fuel_18.groupby(['Fuel']).mean()

,Displ,Cyl,Air Pollution Score,Greenhouse Gas Score
Fuel,,,,
Diesel,2.042105,4.000000,2.368421,5.736842
Electricity,NaN,NaN,10.000000,10.000000
Ethanol/Gas,4.225455,6.509091,3.618182,3.600000
Gasoline,3.057373,5.504021,3.983914,4.636729
Gasoline/Electricity,1.875000,3.916667,5.166667,9.833333

In [63]:
# Drop extraneous columns
fuel_08.drop(['Stnd', 'Underhood ID', 'FE Calc Appr', 'Unadj Cmb MPG'], axis = 1, inplace = True)
fuel_18.drop(['Stnd', 'Stnd Description', 'Underhood ID', 'Comb CO2'], axis = 1, inplace = True)

In [64]:
#Rename column sales area as cert region 
fuel_08.rename(columns={'Sales Area':'cert Region'},inplace = True)

In [65]:
# replace spaces with underscores and lowercase labels for 2008 dataset
fuel_08.rename(columns=lambda x: x.strip().lower().replace(" ", "_"), inplace=True)
fuel_18.rename(columns=lambda x: x.strip().lower().replace(" ", "_"), inplace=True)

In [66]:
# confirm column labels for 2008 and 2018 datasets are identical
fuel_08.columns == fuel_18.columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True], dtype=bool)

In [67]:
# make sure they're all identical like this
(fuel_08.columns == fuel_18.columns).all()

True

In [68]:
fuel_08.shape

(2404, 14)

In [69]:
fuel_18.shape

(1611, 14)

In [70]:
# filter datasets for rows following California standards
fuel_08 = fuel_08.query('cert_region == "CA"') 
fuel_18 = fuel_18.query('cert_region == "CA"')

In [71]:
# confirm only certification region is California
fuel_08['cert_region'].unique()

array(['CA'], dtype=object)

In [72]:
# confirm only certification region is California
fuel_18['cert_region'].unique()
fuel_18.head()

,model,displ,cyl,trans,drive,fuel,cert_region,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
1,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,CA,small SUV,3,20,28,23,5,No
3,ACURA RDX,3.5,6.0,SemiAuto-6,4WD,Gasoline,CA,small SUV,3,19,27,22,4,No
4,ACURA TLX,2.4,4.0,AMS-8,2WD,Gasoline,CA,small car,3,23,33,27,6,No
6,ACURA TLX,3.5,6.0,SemiAuto-9,2WD,Gasoline,CA,small car,3,20,32,24,5,No
8,ACURA TLX,3.5,6.0,SemiAuto-9,4WD,Gasoline,CA,small car,3,21,30,24,5,No

In [73]:
# drop certification region columns form both datasets
fuel_08.drop(['cert_region'], axis=1, inplace = True)
fuel_18.drop(['cert_region'], axis = 1, inplace= True)

In [74]:
fuel_08.shape

(1084, 13)

In [75]:
fuel_08.shape

(1084, 13)

In [76]:
# view missing value count for each feature in 2008
fuel_08.isnull().sum()

model                    0
displ                    0
cyl                     75
trans                   75
drive                   37
fuel                     0
veh_class                0
air_pollution_score      0
city_mpg                75
hwy_mpg                 75
cmb_mpg                 75
greenhouse_gas_score    75
smartway                 0
dtype: int64

In [77]:
#Number of rows with missing data 
fuel_08.isnull().any(axis=1).sum()

75

In [78]:
#Number of rows with missing data 
fuel_18.isnull().any(axis=1).sum()

1

In [79]:
fuel_08.dropna(inplace=True)
fuel_18.dropna(inplace=True)

In [80]:
# checks if any of columns in 2008 have null values - should print False
fuel_08.isnull().sum().any()

False

In [81]:
# checks if any of columns in 2018 have null values - should print False
fuel_18.isnull().sum().any()

False

##Dedupe

In [82]:
# print number of duplicates in 2008 and 2018 datasets
fuel_08.duplicated().sum()

23

In [83]:

# print number of duplicates in 2018 datasets
fuel_18.duplicated().sum()

3

In [85]:
#Drop duplicates 
fuel_08.drop_duplicates(inplace= True)
fuel_18.drop_duplicates(inplace= True)

In [87]:

# print number of duplicates again to confirm dedupe - should be 0
fuel_08.duplicated().sum()

0

In [88]:
 
# print number of duplicates again to confirm dedupe - should be 0
fuel_18.duplicated().sum()

0

In [89]:
fuel_08.shape

(986, 13)

In [90]:
fuel_18.shape

(794, 13)